* {
    box-sizing: border-box;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.site-content {
    flex: 1;
}
body {

}
header, footer {
    border: 3px solid blue;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: #1f2937;
    padding: 10px;
}
.logo {
    margin-right: auto;
    color: white;
}
.nav-links {
    display: flex;
    justify-content: center;
}
 .links{
    list-style: none;
    display: flex;
    gap: 8px;
    align-items: center;
    color: white;
 }

.logo {
    border:5px solid green;
}
section {
    border: 10px solid salmon;
    min-height: 100px;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    line-height: 1;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.space {
    width: 400px;
    margin-right: 20px;
    border-radius: 10px;
}

.pic1 {
    display: flex;
    align-items: center;
}

.content1{
    display: flex;
    flex-direction: row-reverse;
    background-color:#1f2937;
    padding: 10px;
}

.sign-up {
    border-radius: 8px;
    border-style: none;
    background-color: #3882f6;
    color: white;
}

.title1 {
    text-align: center;
}

.img1 {
    width: 200px;
}