* {
    box-sizing: border-box;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.site-content {
    flex: 1;
}
body {

}
header, footer {
    border: 3px solid blue;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: #1f2937;
    padding: 10px;
}
.logo {
    margin-right: auto;
    color: white;
}
.nav-links {
    display: flex;
    justify-content: center;
}
 .links{
    list-style: none;
    display: flex;
    gap: 8px;
    align-items: center;
    color: white;
 }

.logo {
    border:5px solid green;
}
section {
    border: 10px solid salmon;
    min-height: 100px;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    line-height: 1;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.space {
    width: 400px;
    margin-right: 20px;
    border-radius: 10px;
}

.pic1 {
    display: flex;
    align-items: center;
}

.content1{
    display: flex;
    flex-direction: row-reverse;
    background-color:#1f2937;
    padding: 10px;
}

.sign-up {
    border-radius: 8px;
    border-style: none;
    background-color: #3882f6;
    color: white;
}

.title1 {
    text-align: center;
}

.img1, .img2, .img3, .img4 {
    max-width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    border: solid 5px #3882f6;
    gap: 8px;
}

.content2 {
    display: flex;
    justify-content: space-around;
    background-color: grey;
}

.box, .warlock, .titan, .hunter {
    border: solid 5px greenyellow;
    align-items: center;
}

.info1 {
    border: 5px solid yellow;
}

.image-list {
    display: flex;
    flex: 1;
    flex-shrink: 1;
    list-style: none;
    gap: 50px;
}

.image-list, p {
    text-align: center;
    white-space: pre-wrap;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
}
.content3 {
    padding: 80px;
    border: 40px;
    background-color: #e5e7eb;
    justify-content: space-around;
}

.quote {
    text-align: center;
}

.author {
    display: flex;
    justify-content: flex-end;
}