* {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.site-content {
    flex: 1;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: #1f2937;
    padding: 10px;
}
.logo {
    margin-right: auto;
    color: white;
}
.nav-links {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
 .links{
    list-style: none;
    display: flex;
    gap: 8px;
    align-items: center;
    color: white;
 }

section {
    min-height: 100px;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    line-height: 1;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.space {
    width: 400px;
    margin-right: 20px;
    border-radius: 10px;
}

.pic1 {
    display: flex;
    width: 100%;
    flex: 1;
    align-items: center;
}

.content1{
    display: flex;
    padding: 10px;
    flex-direction: row-reverse;
    background-color:#1f2937;
}

.sign-up {
    border-radius: 8px;
    border-style: none;
    background-color: #3882f6;
    color: white;
}

.title1 {
    text-align: center;
}

.hunter, .warlock, .titan {
    max-width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    flex-direction: column;
    gap: 8px;
}

.content2 {
    display: flex;
    justify-content: space-around;
    background-color: grey;
}

.box img {
    border: solid 5px #3882f6;
    border-radius: 10px;
    align-items: center;
}

.image-list {
    display: flex;
    flex: 1;
    flex-shrink: 1;
    list-style: none;
    gap: 50px;
}

.image-list, p {
    text-align: center;
    white-space: pre-wrap;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
}
.content3 {
    padding: 80px;
    border: 40px;
    background-color: #e5e7eb;
    justify-content: space-around;
}

.quote {
    text-align: center;
}

.author {
    display: flex;
    justify-content: flex-end;
}

.content4 {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.text, .join {
    border-radius: 10px;
    color: #f9faf8;
    gap: 8px;
    line-height: 1;
    flex-shrink: 1;
}

.text {
    justify-content: flex-start;
}

.join {
    height: 30px;
    align-self: center;
    justify-content: flex-end;
    background-color: #3882f6;
    border: solid 1px  #f9faf8;
}

.container {
    display: flex;
    background-color: #3882f6;
    padding: 10px;
    width: 700px;
    border-radius: 20px;
    gap: 100px;
}